extends ../../templates/col1/col1.pug
block variables
  - const title = ""
  - const template = "col1"
  - const pagename = "404"

block main
  main.main-404
    h1.main-404__title Page 404
    p.main-404__text Page not found or under construction!
    
block scripts
  //- script(src=vendorjs)
