.footer {
  width: 100%;
  @include fst(height, 64px);


  &__title {
    @include fst(font-size, 24px);
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    @include fst(margin-bottom, 24px);
  }
}