//- Имя шрифта 'Exo 2'. 300, 400, 600. normal, italic.
link(href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet")


//- ************** !!! Дальнейшие действия !!!  *************** \\
//- После подключения шрифтов здесь заходим в ./settings/presets/vars.scss и задаём значение переменной $font-family